[slot=fixed] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#webview {
    position: absolute;
    width: 100%;
    height: 100%;
}

ion-progress-bar {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .2s ease;
    &.active {
        opacity: 1;
    }
}
